body {
  background-image: url('background.png');
  font-family: "TsukuARdGothic-Regular", serif;
  margin: 0;
  text-align: center;
}
button {
  background-color: cornflowerblue;
  border: outset 3px cornflowerblue;
  font-size: 12px;
}
button:active {
  border-style: inset;
}
div {
  background-color: aliceblue;
  display: inline-block;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 864px;
}
form {
  display: block;
  margin: auto;
  width: 24em;
}
h1 {
  font-size: 40px;
}
h3 {
  background-color: cadetblue;
  color: white;
  font-size: 1.5em;
}
h4 {
  background-color: maroon;
  color: lightcyan;
  font-size: 1em;
}
input[type = "text"] {
  font-size: 12px;
  height: 18px;
  margin-left: 1em;
  margin-right: 1em;
  width: 20em;
}
label {
  display: block;
  text-align: left;
}
section {
  display: inline-block;
  width: 720px;
}
#file-guide {
  height: 32px;
  width: 100%;
}
#string {
  border: groove 1px cornflowerblue;
  border-radius: 1px;
  display: block;
  font-size: 12px;
  margin: auto;
  width: 75%;
}